In [2]:
import pandas as pd
import numpy as np

In [4]:
#reading the dataset into the notebook
yahoo_data = pd.read_excel(r'C:\Users\USER\Downloads\yahoo_data.xlsx')
yahoo_data.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Apr 28, 2023",33797.43,34104.56,33728.40,34098.16,34098.16,354310000
1,"Apr 27, 2023",33381.66,33859.75,33374.65,33826.16,33826.16,343240000
2,"Apr 26, 2023",33596.34,33645.83,33235.85,33301.87,33301.87,321170000
3,"Apr 25, 2023",33828.34,33875.49,33525.39,33530.83,33530.83,297880000
4,"Apr 24, 2023",33805.04,33891.15,33726.09,33875.40,33875.40,252020000

In [ ]:
#summary of the dataset
yahoo_data.info()

In [ ]:
#statistical summary of the numerical columns of the dataset
yahoo_data.describe()

In [ ]:
#checking for the total number of null values in each column
yahoo_data.isnull().sum()